<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
</head>
<body>
    <div>
        <h1> WITAJ W SKLEPIE </h1>
    </div>
    <div style="clear:both"></div>

    <div style="width:200px; float:left">
        <h3> Fajnie, że wpadłeś/łaś </h3>
        {% for cat in categories %}
            <p><a href="/category/{{ cat.id }}"> {{ cat.name }}</a></p>
        {% endfor %}
    </div>

    <div style="width:700px; float:left">
        {% block content %} 
        
        {% endblock content %}
    </div>
    <div style="clear:both"></div>
</body>
</html>